:root {
    --background: #efeff3;

    --navbar_background: #f5f5f7;
    --navbar_border: #a7a7aa;

    --block_structure: #fefefe;
    --block_structure_element: #c7c7cb;

    --button_color: #3478f6;
    --button_color_hover: #dceafd;
    --button_color_active: rgba(53, 153, 246, 0.4);

    --output_error_orange: #dd8f00;
    --output_error_red: #e50000;
}

/*==== Basico ====*/
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    font-family: "Helvetica";
    font-size: 16px;
    background-color: var(--background);
    background-size: var(--backgroundsize);
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000
}

a {
    text-decoration: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

tr, th, tr, td, .log {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
/*== Basico ==*/

/*==== Navbar ====*/
#navbar {
    z-index: 2;
    background-color: var(--navbar_background);
    position: fixed;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: var(--navbar_border) solid 1px;
}

#navbar h1 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    line-height: 40px;
    color: #000
}
/*== Navbar ==*/

/*==== Structure ====*/
#structure {
    z-index: 1;
    padding: 44px 0 10px;
}
/*== Structure ==*/

/*==== Block ====*/
#block {
    margin: 6px 0;
}
#block h2 {
    padding: 8px 14px 2px;
    font-size: 16px;
    margin: 0;
}

#block #block_structure {
    font-size: 14px;
    box-sizing: border-box;
    background-color: var(--block_structure);
    border-top: var(--block_structure_element) solid 1px;
    border-left: 0;
    border-right: 0;
}

#block #block_structure #element {
    padding: 10px 14px;
    border-bottom: var(--block_structure_element) solid 1px;
}

#block #block_structure.block_files #element {
    padding: 0;
}

span.log{
    font-family: monospace;
}

#Output_error_gyms {
    color: var(--output_error_orange);
}

#Output_error_no_valid_gyms, #Output_error_exareas, #Output_error_exclusionareas {
    color: var(--output_error_red);
}
/*== Block ==*/

/*==== Button ====*/
#button_structure {
    display: flex;
	flex-flow: row;
	position: relative;
	box-sizing: border-box;
}


#button_structure > div {
    padding: 8px 6px;
    line-height: 100%;
    font-weight: bold;
    font-size: 12px;
    flex-grow: 1;
    box-sizing: border-box;
    border: var(--button_color) solid 1px;
    border-left: none;
    
    text-align: center;
    color: var(--button_color);

    -webkit-transition: background-color 120ms linear;
    -ms-transition: background-color 120ms linear;
    transition: background-color 120ms linear;
}

#button_structure > div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: var(--button_color) solid 1px;
}

#button_structure > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#button_structure > div.selected {
    background-color: var(--button_color);
    color: var(--block_structure);
}

#button_structure > div.selected:hover {
    background-color: var(--button_color);
}

#button_structure > div:hover {
    background-color: var(--button_color_hover);
}

#button_structure > div:active {
    background-color: var(--button_color_active);
}





#input_button_structure {
    width: 100%;
    margin: 12px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	position: relative;
	box-sizing: border-box;
}

button {
    -webkit-appearance: none;
    border: var(--button_color) solid 1px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
	position: relative;
	margin: 5px;
	border-radius: 30px;
	padding: 5px 6px;
	font-size: 12px;
	background-color: var(--block_structure);
	font-weight: bold;
	color: var(--button_color);
    text-align: center;
    
    -webkit-transition: background-color 120ms linear;
    -ms-transition: background-color 120ms linear;
    transition: background-color 120ms linear;
}

button:disabled, button:hover:disabled{
    -webkit-appearance: none;
    border: var(--block_structure_element) solid 1px;
    background-color: #e5e5e5;
    color: grey;
}

button:hover {
    background-color: var(--button_color_hover);
}

button:active {
    background-color: var(--button_color_active);
}

button:focus {
    outline:0;
}
/*== Button ==*/



input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type=file] + label {
    box-sizing: border-box;
    padding: 10px 12px 10px 54px;
    cursor: pointer;
    width: 100%;
    line-height: 18px;
    font-size: 18px;
    display: inline-block;
}

span.inputfile {
    font-size: 16px;
    color: #6c6c70;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
    background-color: #d9d9d9;

    -webkit-transition: background-color 120ms linear;
    -ms-transition: background-color 120ms linear;
    transition: background-color 120ms linear;
}

input[type=file] + label:active {
    background-color: #c8c8c8;

    -webkit-transition: background-color 120ms linear;
    -ms-transition: background-color 120ms linear;
    transition: background-color 120ms linear;
}

#label_img {
    position: absolute;
    margin-top:-3px;
    left: 14px;
    width: 25px;
}


#text_block {
    box-sizing: border-box;
    padding: 0 14px;
    width: 100%;
    text-align: center;
    color: #6d6d71;
    margin: 10px auto;
}

#text_block.info {
    text-align: justify;
}

/*==== Tables ====*/
#Output_table_data {
    border-collapse:collapse;
    width: 100%
}

#Output_table_data th {
    background-color:#000;
    color:#fff;
}

#Output_table_data td, #Output_table_data th {
    padding:5px;
    border:1px solid #000;
}

#Output_table_data tr.ex {
    background-color:#d7ffd7;
}

#Output_table_data tr.blocked {
    background-color:#ffd7d7;
}


/*== Tables ==*/


@media only screen and (device-width : 375px) and (width : 812px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    #block h2 {
        padding: 8px 54px 2px;
    }

    #block #block_structure #element {
        padding: 10px 54px;
    }

    input[type=file] + label {
        padding: 10px 12px 10px 94px;
    }

    #label_img {
        left: 54px;
    }

    #text_block {
        padding: 0 54px;
    }

    #Output_table_data td:first-child, #Output_table_data th:first-child {
        padding-left: 40px;
    }

    #Output_table_data td:last-child, #Output_table_data th:last-child {
        padding-right: 40px;
    }
}
